.log-box{
    width: 40%;
    /* background-color: red; */
    border-radius: 10px;
    border: 2px solid red;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.log-box label{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 30px;
}

.login-blk{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    /* margin-top: 200px; */
}
.login-pg{
    padding-bottom: 70px;
}

.login-pg h1{
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 2rem;
    justify-content: center;
    color: red;
}
.fh1{
    margin-left: 300px;
}

.log-box input{
    font-size: 1rem;
    margin-bottom: 30px;
    border: none;
    width: 30rem;
    border-bottom: 2px solid orange;
}

.log-sub{
    margin-top: 20px;
    margin-left: 1px;
}